* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: "Google Sans Flex", -apple-system, BlinkMacSystemFont";
}
.hero {
    display: flex;
    height: 100vh;
    background-image: url(./assets/ad-ops.app.png);
    background-size: cover;
}
.heading1 {
    font-size: 36px;
    font-weight: 600;
}

.mainrow  {
   display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 231, 235, 0.666);
    padding: 2%;

}

.pheading {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

